/.vs/GenericVsBoxing/v16/.suo
/.vs/GenericVsBoxing/DesignTimeBuild/.dtbcache.v2
/.vs/
/Analizer/obj/
/Bin/
/Tests/obj/
/Tests/obj_netFW/
/Data/Core.xml
/Data/Full.xml
/Data/Core.xml
/Data/Full.xml
